{{ use('yii/widgets/ActiveForm') }}

{# @var yii\web\View $this #}
{# @var app\models\IpInfo $model #}
{# @var yii\widgets\ActiveForm $form #}

<div class="ip-info-form">

    {% set form = active_form_begin() %}

    {{ form.field(model, 'ip').textInput({'maxlength' : true}) | raw }}

    <div class="form-group">
        {{ html.submitButton('Добавить', {'class' : 'btn btn-success'}) | raw}}
    </div>

    {{ active_form_end() }}

</div>