{# @var yii\web\View $this #}
{# @var app\models\IpInfo $model #}

{{ set(this, 'title', IP_ADD_STR) }}

{% set params = this.params|merge({'breadcrumbs' : [
    {'label' : IP_LIST_STR, 'url' : ['index']},
    this.title
]}) %}

{{ set(this, 'params', params) }}

<div class="ip-info-create">

    <h1>{{ html.encode(this.title) }}</h1>

    {{ this.render('_form-add.twig', {
        'model' : model,
    }) | raw}}

</div>
