{# @var yii\web\View $this #}
{# @var app\models\IpInfo $model #}

{{ set(this, 'title', 'Обновление информации об IP: ' ~ model.ip) }}

{% set params = this.params|merge({'breadcrumbs' : [
    {'label' :'Список IP адресов', 'url' : ['index']},
    {'label' : model.ip, 'url' : {0 : 'view', 'ip' : model.ip}},
    'Обновление'
]}) %}

{{ set(this, 'params', params) }}

<div class="ip-info-update">

    <h1>{{ html.encode(this.title) }}</h1>

    {{ this.render('_form-update.twig', {
        'model' : model,
    }) | raw}}

</div>
