{# @var yii\web\View $this #}
{# @var string $name #}
{# @var string $message #}
{# @var Exception$exception #}

{{ set(this, 'title', name) }}

<div class="site-error">
    <h1>{{ html.encode(this.title) }}</h1>

    <div class="alert alert-danger">
        {{ html.encode(message) | nl2br }}
    </div>
</div>
